
body {
    width:99%;
    padding:0%;
    margin:0 auto;
}
.testRoot {
    width:79%;
    padding-right:1%;
    float:right;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin-top:10pt;
}
.testMenu {
    float:left;
    width:17%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0px;
    border: 1px solid black;
    padding-top: 5pt;
    padding-bottom: 5pt;
    margin-top:10pt;
    background: #ECF1EF;
}
.testBox img, .failedTestList img{
    vertical-align:text-top;
}
.testMenu li{
    list-style-type: none;
}
.suiteList, .runDate, .suiteHead, .suiteContent, .failedTestList, .testHead, .testContent{
    width:98%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 1%;
    margin-right:0%;
    padding-left:1%;
    padding-right:0%;
}
.runDate , .runDuration {
    font-size:80%;
    text-align:right;
}
.suiteHead, .failedTestList, .testHead, .testContent{
    border: 1px solid grey;
}
.testContent {
    margin-bottom:20pt;
}
.suiteList a{
    border:1px solid black;
    padding-left:3px;
    padding-right:3px;
    background:#ECF1EF;
}
.runDate {
	float:right;
	width:auto;
	clear:right;
	padding:0px;
	margin:0px;
}
.runDuration {
	float:right;
	clear:right;
	padding:0px;
	margin:0px;
}
.suiteLink {
    text-decoration:none;
    color:black;
}
.suiteLink:hover {
    text-decoration:undeline;
}
.failedTestList{
    background: #ECF1EF;
    font-weight:bold;
    padding-top:5pt;
    padding-bottom:5pt;
}
.suiteHead {
    background:#ECF1EF;
}
a.errorTestLink, a.failureTestLink{
    padding-left:2pt;
    padding-right:2pt;
    padding-top:1pt;
    padding-bottom:1pt;
    margin:1pt;
    border:1px solid red;
    color:black;
    text-decoration:none;
}
.testStatusSuccess .testHead, .testStatusSuccess .testContent{
    background:#EEF3E2;
}
.testStatusFailure .testHead, .testStatusFailure .testContent, a.failureTestLink{
    background:#FFEECA
}
.testStatusError .testHead, .testStatusError .testContent, a.errorTestLink{
    background:#FEE0C6;
}
.testMenuEntry {
    padding-left:0%;
    padding-right:0%;
    margin-left:0%;
    margin-right:0%;
    clear:both;
}
.menuEntryOut{
    float:right;
}
.menuEntryStatus {
    float:left;
}
.menuEntryWeb {
    float:left;
}
img {
    border: none;
}
.testLogo {
    text-align:center;
    border-bottom:1px solid black;
    padding-bottom:5pt;
}
