/* XPM */
static char *template[] = {
"24 24 30 1",
" 	s None	c None",
".      c Black",
"X      s Dark gray     c Grey25",
"o      s Gray  c Grey50",
"O      s Light gray    c Grey75",
"+      c White",
"@      s Dark red      c Firebrick",
"#      c Red",
"$      s Light red     c Salmon",
"%      s Dark green    c SeaGreen",
"a      c Green3",
"b      s Light green   c Green",
"c      s Dark blue     c Navy",
"d      c Blue",
"e      s Light blue    c DodgerBlue",
"f      s Dark yellow	c Goldenrod",
"g      s Yellow        c Gold",
"h      s Light yellow  c Yellow",
"i      s Dark magenta  c Maroon",
"j      c Magenta",
"k      s Light magenta c Pink",
"l      s Dark cyan     c Cyan4",
"m      s Cyan  c Cyan2",
"n      s Light Cyan    c Cyan",
"o      s Dark orange   c Chocolate",
"p	s Orange	c DarkOrange2",
"q      s Light Orange	c Orange",
"r      s Dark brown    c Sienna",
"s      s Brown         c Peru",
"t      s Light brown   c Khaki",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        ",
"                        "};
