Source: crossfire
Section: games
Priority: optional
Maintainer: Jaakko Niemi <liiwi@debian.org>
Standards-Version: 3.5.2
Build-Depends: debhelper (>= 4.1.16), libxaw7-dev, xlibs-dev, xutils, flex, automake1.8, dpatch

Package: crossfire-server
Architecture: any
Depends: crossfire-maps (>=0.95.3), ${shlibs:Depends}
Suggests: crossfire-edit
Description: Server for Crossfire Games
 This is the server program for the crossfire client
 .
 Crossfire is a multiplayer graphical arcade and adventure game made for
 the X environment.
 It has certain flavours from other games, especially Gauntlet (TM)
 and Nethack/Moria.
 Any number of players can move around in their own window, finding
 and using items and battle monsters.  They can choose to cooperate
 or compete in the same "world".
 .
 Homepage: http://crossfire.real-time.com/

Package: crossfire-edit
Architecture: any
Depends: crossfire-maps (>=0.93.3), ${shlibs:Depends}
Description: Map editor for the Crossfire Gameset
 This is the map editor for the maps that go with the crossfire game.
 .
 Crossfire is a  multiplayer graphical arcade and adventure game made for
 the X environment.
 It has certain flavors from other games, especially Gauntlet (TM)
 and Nethack/Moria.
 Any number of players can move around in their own window, finding
 and using items and battle monsters.  They can choose to cooperate
 or compete in the same "world".
 .
 Homepage: http://crossfire.real-time.com/

Package: crossfire-doc
Section: doc
Architecture: all
Description: Documentation for Crossfire
 This is the document package for crossfire.  It has information for
 both server and client.
 .
 Homepage: http://crossfire.real-time.com/

Package: crossfire-server-dbg
Architecture: any
Depends: crossfire-maps (>=0.95.3), ${shlibs:Depends}, gdb, crossfire-server
Description: Server for Crossfire Games with debug info
 This is the server program for the crossfire client
 .
 Crossfire is a multiplayer graphical arcade and adventure game made for
 the X environment. It has certain flavours from other games, especially
 Gauntlet (TM) and Nethack/Moria. Any number of players can move around in their
 own window, finding and using items and battle monsters. They can choose to
 cooperate or compete in the same "world".
 .
 Homepage: http://crossfire.real-time.com/
