# rules -- server rules
#
# These rules are sent to players when they connect. You should change them
# to reflect the actual rules in effect on your server.

[i]Global Chat[/i]
Please communicate and use the chat channel as much as possible.
SPOILERS are NOT discouraged, a huge part of the game is learning as much we can from each other.

[i]Player Killing[/i]
Player killing is tolerated in designated zones, Trolling is NOT tolerated.

[i]Stealing[/i]
Take care of your stuff.

[i]Donations[/i]
If you want to contribute to the development of Heroworld, or Crossfire as whole, I recommend you join the Crossfire Discord and discuss with the community how you can best help; whether that be in the creation of new content with the use of the map maker or the sponsoring of new code. 


[b]HERO WORLD CF is a sandbox server.[/b]
Within the central islands of Heroworld there will be a certain degree of moderation in order to help players along.
You can build cities, craft items of high power, and leave
a real lasting impression for the players who come after you.

