# This is the rules file.
# It should contains the rules
# in effect on your server.
# The content of this file will
# be sent to connecting players
[b]Welcome to crossfire[/b]

[i]Rule #0[/i]
The owner of this server has not defined a rules file. Please read the content of [color=green]motd[/color] or go to the [color=green]website[/color] of this server to know what is and what is [b]not[/b] allowed here.
