.u-section-1 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 36px;
}

.u-section-1 .u-image-1 {
  width: 231px;
  height: 300px;
  margin: -569px auto 0 139px;
}

.u-section-1 .u-image-2 {
  width: 255px;
  height: 300px;
  margin: -300px 116px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 193px;
  height: 193px;
  margin: -233px auto 309px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 15px;
    margin-right: -135px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: -25px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-right: 65px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 165px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 85px;
  }
}