<html>
  <head>
    <title>Crossfire-Mapper Index</title>
  </head>
  <body>
    <strong><big>Crossfire-Mapper Index</big></strong>
    <ul>
      <li>
        <a href="world.html">World map</a>
      </li>
      <li>
        Indices
        <ul>
          <li><a href="regions.html">Region list</a></li>
          <li><a href="index_by_level.html">All maps by level</a></li>
          <li><a href="maps.html">All maps (alphabetical)</a></li>
          <li><a href="npc_info.html">NPCs with special messages</a></li>
          <li><a href="items.html">Special items found in maps</a></li>
          <li><a href="quests.html">Maps associated with quests</a></li>
          <li><a href="monsters.html">Monsters and the maps they are found on</a></li>
          <li><a href="slaying_info.html">Keys, containers, doors, and detectors with special slaying requirements</a></li>
        </ul>
      </li>
      <li>
        Images
        <ul>
          <li><a href="world_raw.png">World</a></li>
          <li><a href="world.png">World/Regions</a></li>
          <li><a href="world_info.png">World features</a></li>
          <li><a href="world_regions.png">Region locales</a></li>
          <li><a href="world_elevation.png">World elevation</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
