<html>
<head>
<title>#MAPNAME#</title>
</head>
<body>
<h1>#MAPNAME#</h1>
<p>Map #MAPNAME#, in region <a href="#REGIONPATH#">#REGIONNAME#</a>. Map level: #MAPLEVEL#.</p>
<p>Map view:
<br>
<a href="#MAPPIC#"><img src="#MAPSMALLPIC#" alt=" "></a>
<br>
(click for larger view)
</p>
#MAPEXITFROM#
#MAPEXITTO#
#MAPLORE#
#QUESTS#
#MONSTERS#
<p>
<a href="#REGIONPATH#">#REGIONNAME#'s map index</a> | <a href="#REGIONINDEXPATH#">Region index</a> | <a href="#INDEXPATH#">Global map index</a> | <a href="#WORLDMAPPATH#">World map</a>
</p>
</body>
</html>
