<html>
<head>
<title>Maps index for #REGIONNAME#</title>
</head>
<body>
<p><b>Region's longname:</b> #REGIONLONGNAME#</p>
<p><b>Region description:</b> #REGIONDESC#</p>

<p>#MAPCOUNT# maps found:</p>
#LETTERS#

<a href="maps.html">Back to global map index.</a>
</body>
</html>
